h1 {
    text-align: center;
    font-size: 2rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 30px;
    color: brown;
}

#submitButton {
    margin-top: 25pt;
}

#myCheckbox {
    margin-left: 30px;
}

#submitForm {
    margin-top: 45px;
}

#taskInTable {
    max-width: 300px;
}

#delete {
    width: 70px;
}

#edit {
    width: 70px;
}

#save {
    width: 60px;
}

.edit {
    border: solid 2px rgb(0, 255, 13);
}

.not-edit {
    border: none;
}

.crossed {
    text-decoration: line-through;
}
